.main{
    border-style: solid;
    padding: 10px;
    margin-bottom: 15px;
}
.main:hover{
    background-color: lightblue;
}
.isOn{
    border-style: solid;
    padding: 10px;
    background-color: aqua;
}
.isOff{
    border-style: solid;
    padding: 10px;
    background-color: lightcoral;
}